.required {
    align-self: flex-start;
      color: red;
    }
    .desktop-tooltip {
      display: block; /* Show for desktop */
    }
    
    .mobile-tooltip {
      display: none; /* Hide by default */
    }
    @media (max-width: 767px) {
      .desktop-tooltip {
        display: none; /* Hide desktop content on mobile */
    }
    
    .mobile-tooltip {
        display: block; /* Show mobile content on mobile */
    }
    /* .tooltip-icon {
      cursor: pointer;
    }
    
    .tooltip-icon:hover + .tooltip-text,
    .tooltip-text:hover {
      visibility: visible;
      opacity: 1;
    } */
    
    /* Tooltip container */
    .tooltip-container {
      position: relative; 
      /* display: inline-block; */
      display: inline-flex;
      align-items: center;
    }
    
    /* Tooltip icon styling */
    .tooltip-icon {
      display: inline-block;
      margin-left: 10px; /* Adjust spacing between text and icon */
      width: 12px; /* Make icon very small */
      height: 12px; /* Make icon very small */
      cursor: pointer;
    }
    
    /* Tooltip text styling */
    .tooltip-text {
      visibility: hidden;
      width: 300px; /* Adjust width as needed */
      background-color: var(--slds-c-tooltip-color-background, var(--sds-c-tooltip-color-background, var(--slds-g-color-brand-base-20, var(--lwc-colorBackgroundAltInverse, rgb(3, 45, 96)))));
      color: #fff; /* Set text color to contrast with the background */
      text-align: left;
      border: 0; /* Border color to match the background */
      border-radius: 4px;
      padding: 10px;
      font-size: 0.75rem;
      position: absolute;
      z-index: 3;
      bottom: 175%; /* Position above the icon */
      left: 50%;
      margin-left: -150px; /* Center the tooltip */
      opacity: 0;
      transition: opacity 0.3s;
      box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    }
    .tooltip-text.first {
      top: 40px;
      bottom: auto;
    }
    .tooltip-text.first::before{
      top: -21%;
      margin-left: -0.39rem;
      border-color: transparent transparent var(--slds-c-tooltip-color-background, var(--sds-c-tooltip-color-background, var(--slds-g-color-brand-base-20, var(--lwc-colorBackgroundAltInverse, rgb(3, 45, 96))))) transparent;
    }
    .tooltip-text.first::after {
      top: -4px;
      border-color: transparent transparent var(--slds-c-tooltip-color-background, var(--sds-c-tooltip-color-background, var(--slds-g-color-brand-base-20, var(--lwc-colorBackgroundAltInverse, rgb(3, 45, 96))))) transparent;
    }
    span.tooltip-text.first.carrtxtadjust::before {
      top: -40%;
    }
    span.tooltip-text.first.carrtxtadjust::after {
      top: 0%;
    }
    .tooltip-text.firstcarriage::before{
      top: -43%;
      margin-left: -0.39rem;
      border-color: transparent transparent var(--slds-c-tooltip-color-background, var(--sds-c-tooltip-color-background, var(--slds-g-color-brand-base-20, var(--lwc-colorBackgroundAltInverse, rgb(3, 45, 96))))) transparent;
    }
    .tooltip-text.firstcarriage::after {
      top: -4px;
      border-color: transparent transparent var(--slds-c-tooltip-color-background, var(--sds-c-tooltip-color-background, var(--slds-g-color-brand-base-20, var(--lwc-colorBackgroundAltInverse, rgb(3, 45, 96))))) transparent;
    }
    .tooltip-text::before {
        content: "";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -0.57rem; /* Center the nubbin horizontally */
        border-width: 0.75rem; /* Increase width of the nubbin */
        border-style: solid;
        border-color: var(--slds-c-tooltip-color-background, var(--sds-c-tooltip-color-background, var(--slds-g-color-brand-base-20, var(--lwc-colorBackgroundAltInverse, rgb(3, 45, 96))))) transparent transparent transparent; /* Arrow color to match the background */
    }
    /* Tooltip arrow */
    .tooltip-text::after {
      content: "";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--slds-c-tooltip-color-background, var(--sds-c-tooltip-color-background, var(--slds-g-color-brand-base-20, var(--lwc-colorBackgroundAltInverse, rgb(3, 45, 96))))) transparent transparent transparent; /* Arrow color to match the background */ /* Arrow color to match the background */
    }
    
    /* Show tooltip on hover */
    .tooltip-container:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
    }